.container{
    width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.boxsp{
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.boxsp img{
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.boxsp h3{
    font-size: 16px;
    height: 40px;
}

.price{
    color: red;
    font-weight: bold;
}

button{
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: #ff6600;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
